.footer--custom {
	color: #fff;
}

.cart-title--custom {
	position: relative;
	padding-bottom: 10px;
}

.cart-title--custom::after {
	position: absolute;
  content: "";
  bottom: 0;
  width: 45px;
  height: 3px;
  background: #ff304d;
}

.cart-title--custom-left::after {
	left: 0;
}

.cart-title--custom-right::after {
	right: 0;
}

.copyright--custom {
	position: relative;
	padding-top: 10px;
}

.copyright--custom::after {
	position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  width: 150px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background: #ff304d;
}

.footer-list--custom {
	margin: 0;
	padding: 0;
}

.footer-list-items--custom {
	margin: 15px 0;
	list-style: none;
}

.footer-list-items--custom span,
.footer-list-items--custom a {
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
}

.footer-list-items--custom a {
	color: #fff;
	text-decoration: none;
	transition: all .3s ease;
}

.footer-list-items--custom a:hover {
	color: #ff304d;
}

.oi--custom {
	margin-right: 15px;
}

.wrap--custom {
	border-bottom: 1px solid #343a40;
}

.wrap--custom > .card-title {
	padding-bottom: 15px;
	border-bottom: 1px solid #343a40;
	margin-right: 0;
	margin-left: 0;
}

.article--custom {
	position: relative;
	color: #fff;
	overflow: hidden;
}

.article__content--custom {
	position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  padding: 20px;
  background-color: rgba(52, 58, 64,.8);
  transition: all .3s ease;
}

.article__text--custom {
	display: none;
	opacity: 0;
}

.article--custom:hover .article__content--custom {
	height: 90%;
}

.article--custom:hover .article__text--custom {
	display: block;
	opacity: 1;
}

.banner__img--custom {
	position: relative;
}

.banner__img--custom::after {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: "";
	background-color: rgba(52, 58, 64,.4);
	-webkit-background-size: 100%;
	background-size: 100%;
}

.banner--custom {
	position: relative;
}

.banner-wrap--custom {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.feedback {
	background-color: #eee;	
}

.feedback__content {
	position: relative;
	padding: 25px 15px 15px 15px;
	border: 1px solid #343a40;
	border-radius: 3px;
}

.feedback__content::before {
	content: "";
	position: absolute;
	left: 50%;
	top: -25px;
	width: 70px;
	height: 40px;
	padding: 0 10px;
	margin-left: -35px;
	background-color: #eee;
	background-image: url(../img/quote.svg);
	-webkit-background-size: 50px 40px;
	background-size: 50px 40px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.feedback__img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow:hidden;
}

.feedback__name {
	display: block;
}

.announce__content {
	position: relative;
	z-index: 10;
}

.announce__wrap {
	position: relative;
	height: 450px;
	padding: 20px;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.announce__wrap::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/spring.jpg);
	background-position: 50% 60%;
	z-index: 8;
}

.announce__wrap--2::before,
.announce__wrap--4::before {
	background-image: url(../img/winter.jpg);
}

.announce__wrap::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(55, 210, 148, 0.5);
	z-index: 9;
}

.announce__wrap--2::after {
	background: rgba(210, 55, 204, 0.5);
}

.announce__wrap--3::after {
	background: rgba(224, 211, 38, 0.5);
}

.announce__wrap--4::after {
	background: rgba(43, 49, 119, 0.5);
}

.work,
.popup--custom {
	height: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.work__text,
.popup__text {
	font-size: 25px;
}

.fieldset--custom {
	padding: 15px 15px 5px 15px;
	border: 1px solid rgba(52, 58, 64,.7);
	border-radius: 5px;
}

.form__subtitle--custom {
	display: inline-block;
  width: auto;
  text-align: center;
  padding: 0 10px;
  font-size: 15px;
  color: #ff304d;
}

.radio-btn--custom,
.checkbox--custom {
	display: none;
}

.radio-label--custom,
.checkbox-label--custom {
	padding-left: 55px;
	padding-bottom: 25px;
  cursor: pointer;
  position: relative;
}

.radio-label--custom::before {
	position: absolute;
  content: " ";
  top: -5px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 10px solid #ffffff;
  box-shadow: 0 0 0 2px #e5e5e5;
  transition: all 0.2s ease-in-out;
}

.radio-btn--custom:checked + .radio-label--custom::before {
	position: absolute;
  content: " ";
  top: -5px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ff304d;
  border: 10px solid #ffffff;
  box-shadow: 0 0 0 2px #ff304d;  
}

.radio-btn--custom + .radio-label--custom:hover::before,
.checkbox--custom + .checkbox-label--custom:hover::before {
 	box-shadow: 0 0 0 2px #283645;  
}

.radio-btn--custom:checked + .radio-label--custom:hover::before,
.checkbox--custom:checked + .checkbox-label--custom::before,
.checkbox--custom:checked + .checkbox-label--custom:hover::before {
 	box-shadow: 0 0 0 2px #ff304d;
}

.checkbox-label--custom::before {
	position: absolute;
  content: " ";
  top: -7px;
  left: 0;
  width: 37px;
  height: 37px;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #e5e5e5;
  transition: all 0.2s ease-in-out;
}

.checkbox--custom:checked + .checkbox-label--custom::after {
	position: absolute;
  content: " ";
  top: 2px;
  left: 9px;
  width: 22px;
  height: 11px;
  border: 2px solid #ff304d;
  background-color: #ffffff;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}

.upload__label {
	position: relative;
  height: 64px;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  line-height: 30px; 
}

.upload__btn {
  position: absolute;
  top: 0;
  height: 64px;
  width: 100%;
  padding: 15px;
  margin: 0;
  text-align: center;  
  border: 2px solid #ff304d;
  background-color: #ff304d;
  border-radius: 5px;
  color: #fff;
  transition: all 0.2s ease-in-out; 
}

.upload__input {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 64px;
  width: 100%;
  margin: 0;
  border-radius: 5px;  
  opacity: 0;
}

.upload__label:hover > .upload__btn {
	background-color: #fff;
	border-color: #343a40;
	color: #343a40;
}
/*MEDIA CUSTOM*/

@media (max-width: 768px) {
	.cart-title--custom-right::after {
		left: 0;
	}
	.responsive-hide--custom {
		display: none !important;
	}
	
	.article__content--custom {
		height: 90%;
	}

	.article__text--custom {
		display: block;
		opacity: 1;
	}
}