.footer--custom {
	color: #fff;
}

.cart-title--custom {
	position: relative;
	padding-bottom: 10px;
}

.cart-title--custom::after {
	position: absolute;
  content: "";
  bottom: 0;
  width: 45px;
  height: 3px;
  background: #ff304d;
}

.cart-title--custom-left::after {
	left: 0;
}

.cart-title--custom-right::after {
	right: 0;
}

.copyright--custom {
	position: relative;
	padding-top: 10px;
}

.copyright--custom::after {
	position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  width: 150px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background: #ff304d;
}

.footer-list--custom {
	margin: 0;
	padding: 0;
}

.footer-list-items--custom {
	margin: 15px 0;
	list-style: none;
}

.footer-list-items--custom span,
.footer-list-items--custom a {
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
}

.footer-list-items--custom a {
	color: #fff;
	text-decoration: none;
	transition: all .3s ease;
}

.footer-list-items--custom a:hover {
	color: #ff304d;
}

.oi--custom {
	margin-right: 15px;
}

.wrap--custom {
	border-bottom: 1px solid #343a40;
}

.wrap--custom > .card-title {
	padding-bottom: 15px;
	border-bottom: 1px solid #343a40;
	margin-right: 0;
	margin-left: 0;
}

.article--custom {
	position: relative;
	color: #fff;
	overflow: hidden;
}

.article__content--custom {
	position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  padding: 20px;
  background-color: rgba(52, 58, 64,.8);
  transition: all .3s ease;
}

.article__text--custom {
	display: none;
	opacity: 0;
}

.article--custom:hover .article__content--custom {
	height: 90%;
}

.article--custom:hover .article__text--custom {
	display: block;
	opacity: 1;
}

/*MEDIA CUSTOM*/

@media (max-width: 768px) {
	.cart-title--custom-right::after {
		left: 0;
	}
	.responsive-hide--custom {
		display: none !important;
	}
	
	.article__content--custom {
		height: 90%;
	}

	.article__text--custom {
		display: block;
		opacity: 1;
	}
}